* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-top: 40px;
}

.target-text {
  margin-right: 20px;
  border: 1px dashed #888888;
  width: 100%;
}

.documents-list {
  border: 1px dashed #888888;

}

.documents-list-item {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  transition: all .2s ease;
}

.documents-list-item:hover {
  background-color: #eeeeee;
  border-color: #bbbbbb;
}

.documents-list-item.selected {
  background-color: #ffff88;
}

.documents-list-item.selected:hover {
  background-color: #eeee77;
}

.documents-list-item:last-child() {
  border-bottom: none
}

.item-title {
  width: 100%
}

.item-percent {
  text-align: right;
  width: 60px;
  flex-shrink: 0;
}

.match {
  background-color: #ffff88;
}